crewai
langchain
langchain-text-splitters
langchain-chroma
langchain-google-genai
langchain-community
chromadb
pysqlite3-binary
pypdf
python-dotenv
streamlit
markdown-it-py
google-generativeai
google-genai
